<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ケアログ</title>
  </head>
  <body>
    <%= render 'layouts/flash_messages' %>
    <div>
      <img class="top-img" src="/2669728.jpg">
    </div>
    <div class="container">
      <h2 class="heading">ケアログとは</h2>
      <p>
        施設に入所している方の情報や状態などを簡単に記録できるアプリです。<br>
        「書類での管理が大変」「入所者の情報を探すのが難しい」などの問題を解決するために作成しました。
      </p>
    </div>
    <div class="features">
      <div class="feature">
        <div class="feature-description">
          <h3>投稿機能</h3>
          <p>入所している方の登録や<br>
            その日の状態などを記録できます!</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-description">
          <h3>検索機能</h3>
          <p>名前で入所している方の<br>
            検索が簡単にできます!</p>
        </div>
      </div>
      <div class="feature">
        <div class="feature-description">
          <h3>通知機能</h3>
          <p>入所している方の特記事項が更新されたときに<br>
            通知が届くようにしました。</p>
        </div>
      </div>
    </div>
    <footer>
      <small>&copy; 2022 Akihiro All Rights Reserved</small>
    </footer>
  </body>
</html>
