/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap/scss/bootstrap';

.container-login {
  @extend .container-fluid;
  max-width: 576px;
  padding: 2rem;
}

// 「ログインしました」などのフラッシュ用スタイル

.alert-notice {
  @extend .alert-info;
}

.alert-alert {
  @extend .alert-danger;
}

.btn {
  width: 100%;
  color: #fff;
  margin-bottom: 20px;
}

.btn:hover {
  color: #fff;
}

.form-group {
  padding-top: 10px;
}

header {
  background-color: silver;
}

.nav-item {
  color: #fff;
}

// topページ
.top-img {
  position: relative;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  width: 100%;
  opacity: 0.7;
  // min-height: 100vh;
  height: 100vh;
  padding-bottom: 0;
  margin: 0;
}

.container {
  width: 430px;
  margin: 0 auto;
  margin-top: 130px;
}

.container h2 {
  text-align: center;
  font-size: 50px;
  color: chocolate;
}

.features {
  display: flex;
  margin-top: 100px;
}

.feature {
  background-color: lightcoral;
  width: 30%;
  margin-left: 3%;
  padding-top: 10px;
  border-radius: 15px;
}

.feature-description {
  text-align: center;
}

.py-4 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.container-fluid {
  padding: 0;
}

footer {
  width: 100%;
  text-align: center;
  padding-top: 0.8rem;
  height: 50px;
  background-color: silver;
  margin-top: 3rem;
  padding-bottom: 0;
}
